.header {
    width: 100%;
    padding: 20px 60px;
    background: #f9fafb;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #4f46e5;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: 500;
}

.nav-links li {
    cursor: pointer;
}

.shop-btn {
    padding: 10px 22px;
    border: none;
    background: #4f46e5;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.shop-btn:hover {
    transform: scale(1.05);
}

/* Hero Section */
.hero {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero-text h1 {
    font-size: 42px;
    line-height: 1.2;
}

.hero-text span {
    color: #4f46e5;
}

.hero-text p {
    margin: 20px 0;
    color: #555;
    font-size: 16px;
}

.explore-btn {
    padding: 12px 28px;
    background: #22c55e;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.explore-btn:hover {
    opacity: 0.9;
}

/* Product Images */
.hero-images {
    display: flex;
    gap: 20px;
}

.hero-images img {
    width: 160px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.hero-images img:hover {
    transform: translateY(-10px);
}